*{
    box-sizing: border-box;
}
header{
    background-color: #6c757d;
    text-align: center;
}
hr{
    background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.75), rgba(0,0,0,0));
    border: 0;
    height: 1px;
    width: 80%;
}
body{
    margin: 0;
    color: white;
    background-color: #343a40;
}

h2{
    font-size: 40px;
    padding: 8px;
    border-radius: 4px;
    margin: 0 0 3px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items:baseline;
    margin-top: 100px;
}
label{
    font-size: 17px;
}
.container{
    background-color: #6c757d;
    position: relative;
    padding: 16px;
    border-radius: .5rem;
    width: 600px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.container-instructions{
    margin-top: 80px;
    background-color: #6c757d;
    position: relative;
    padding: 16px;
    border-radius: .5rem;
    width: 700px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
input{
    border: 0;
    border-radius: 4px;
    width: 400px;
    padding: 12px 20px;
    margin-top: 10px;

}
.statistics{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}
.play-button{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: 190px;
}

.timer{
    margin-right: 185px;
    font-size: 24px;
}
.score{
    margin-left: 185px;
    font-size: 24px;
}
button{
    margin-bottom: 20px;
}
h1{
    margin: 0;
    padding: 5px;
}
.word{
    margin-bottom: 16px;
    text-align: center;
}
.wordInput{
    background-color: transparent;
    background-color: #6a737a;
    outline: none;
    width: 100%;
    height: 32px;
    resize: none;
}
.wordInput:focus{
    border-color: black;
}

.difficulty input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.difficulty{
    display: flex;
    align-content: center;
    justify-content: center;
}
.title{
    margin-top: 100px;
    text-align: center;
}
.difficulty label{
    display: inline-block;
    padding: 15px 30px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
    border: 2px solid transparent;
}
.difficulty #easy{
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.difficulty #medium{
    background-color: #f0ad4e;
    border-color: #eea236;
}

.difficulty #hard{
    background-color: #d9534f;
    border-color: #d43f3a;
}

.difficulty input[type="radio"]:checked + #easy {
    background-color: #449d44;
    border-color: #398439;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.difficulty input[type="radio"]:checked + #medium {
    background-color: #ec971f;
    border-color: #d58512;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.difficulty input[type="radio"]:checked + #hard {
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.start-btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.start-btn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }
.correct{
    color: #99cc00;
}
.incorrect{
    color: #803333;
    text-decoration: underline;
    background-color: #f0a3a3;
}
.fe {
    opacity: .01;
}
.feactive{
    opacity: 1;
    transition: all 300ms ease-in-out;
}
.fl {
    opacity: 1;
}
.flactive{
    opacity: .01;
    transform: translateY(40px);
    transition: all 300ms ease-in-out;
}
p{
    font-size: 20px;
    line-height: 1.5;
}

#instructions{
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

a {
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 2em;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 2px solid white;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  a::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
  }
  a::after {
    content: "";
    display: inline-block;
    background-image: url(icons/arrow.png);
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  }
  a:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
  }
  a:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  a:hover::after {
    right: 0;
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  